Prof[[:space:]]Code/SVD_demos/allFaces.mat filter=lfs diff=lfs merge=lfs -text
Prof[[:space:]]Code/SVD_demos/spiralwaves.mat filter=lfs diff=lfs merge=lfs -text
Quiz/data_Q6.mat filter=lfs diff=lfs merge=lfs -text
